<div class="col-md-6">
	<a href='<%= pages_batman_path %>'><img src="<%= asset_path 'batman.jpg' %>"></a>
	<form action="<%=pages_interior_path%>" method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div class="col-md-12" style="margin-bottom: 10px">
		<input id="name" name="name" placeholder="Esbribe tu nombre" style="margin-bottom: 10px">
		<input id="email" name="email" placeholder="Esbribe email" style="margin-bottom: 10px">

		<div class="col-md-12" style="margin-bottom: 10px"><input type="submit" value="Enviar"></div>
</form>
</div>
<div class="col-md-6">
<a href='<%= pages_batman_path %>'><img src="<%= asset_path 'superman.jpg' %>"></a>
	<form action="<%=pages_interior_path%>" method="post" class="form">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div class="col-md-12" style="margin-bottom: 10px">
		<input id="name" name="name" placeholder="Esbribe tu nombre" style="margin-bottom: 10px">
		<input id="email" name="email" placeholder="Esbribe email" style="margin-bottom: 10px">

		<div class="col-md-12" style="margin-bottom: 10px"><input type="submit" value="Enviar"></div>
	</form>
</div>